{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "describe": true,
        "beforeEach": true,
        "afterEach": true,
        "it": true,
        "expect": true
    },
    "plugins": [],
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true
    },
    "rules": {
        "space-before-blocks": 2,
        "indent": [2, 4, {"SwitchCase": 1}],
        "brace-style": 2,
        "space-after-keywords": 2,
        "strict": 0,
        "no-unused-expressions": 0,
        "comma-dangle": [2, never],
        "eol-last": 2,
        "dot-notation": 2,
        "dot-location": [2, property],
        "consistent-return": 2,
        "no-unused-vars": [2, args: none],
        "quotes": [2, single, avoid-escape],
        "no-shadow": 2,
        "no-multi-spaces": 2,
        "max-len": [1, 120],
        "no-underscore-dangle": 0,
        "new-cap": 0,
        "no-use-before-define": 0,
        "key-spacing": 0,
        "no-empty": 0,
        "no-undef-init": 0,
        "block-scoped-var": 0
    }
}
