.*
~*
!/.gitattributes
!/.gitignore
!/.gitinclude
!/.editorconfig
!/.eslintrc
!/.csslintrc
!/.travis.yml

ehthumbs.db
Thumbs.db
Desktop.ini
user.properties
npm-debug.log

dist/
bower_components/
node_modules/
temp/

*.air
*.f4v
*.flv
*.m4v
*.mov
*.mp3
*.mp4
*.ogg
*.ogv
*.psd
*.pyc
*.wav
*.webm
*.zip
