.*
~*
!/.gitattributes
!/.gitignore
!/.gitinclude
!/.editorconfig
!/.eslintrc
!/.csslintrc
!/.stylelintrc
!/.travis.yml

ehthumbs.db
Thumbs.db
Desktop.ini
user.properties
npm-debug.log

bower_components/
dist/
node_modules/
temp/

*.m4v
*.mov
*.mp3
*.mp4
*.ogg
*.ogv
*.psd
*.pyc
*.sql
*.wav
*.webm
*.zip
