/**
 * Fonts
 *
 * Local font files will be inlined by postcss-url
 */

/*
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/roboto_bold.woff") format("woff");
}
*/
