/* Fonts */

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../font/source_sans_pro/source_sans_pro_400.woff") format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url("../font/source_sans_pro/source_sans_pro_700.woff") format("woff");
}
