:root {

    /* font family */

    --font: "Source Sans Pro", monospace, Courier;

    /* font size */

    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-x-large: 24px;

    /* spacing */

    --spacing-narrow: 4px;
    --spacing: 8px;
    --spacing-wide: 16px;
    --border-width: 3px;

    /* color palette */

    --white: #fff;
    --black: #000;
}
