/* Libraries */

@import url("../node_modules/normalize.css/normalize.css");
@import url("../node_modules/suitcss-base/lib/base.css");

/* Vars */

@import url("styles/fonts.css");
@import url("styles/media.css");
@import url("styles/props.css");

/* Global styles */

@import url("styles/sections.css");
@import url("styles/elements.css");
@import url("styles/utils.css");

/* Components */

@import url("components/hello/hello.css");
